Midders or multiple trailers

The protocol is very cagey about the semantics of a HEADERS frame if it doesn't include the END_STREAM flag. Do something about this.  Some people have attached semantics to these, others would prefer we never did that and instead discourage the use of these.

Is this description valid? The RFC is not at all cagey about the semantics of HEADERS without end stream. Consider § 8.1:

```
8.1.  HTTP Request/Response Exchange

   A client sends an HTTP request on a new stream, using a previously
   unused stream identifier (Section 5.1.1).  A server sends an HTTP
   response on the same stream as the request.

   An HTTP message (request or response) consists of:

   1.  for a response only, zero or more HEADERS frames (each followed
       by zero or more CONTINUATION frames) containing the message
       headers of informational (1xx) HTTP responses (see [RFC7230],
       Section 3.2 and [RFC7231], Section 6.2),

   2.  one HEADERS frame (followed by zero or more CONTINUATION frames)
       containing the message headers (see [RFC7230], Section 3.2),

   3.  zero or more DATA frames containing the payload body (see
       [RFC7230], Section 3.3), and

   4.  optionally, one HEADERS frame, followed by zero or more
       CONTINUATION frames containing the trailer-part, if present (see
       [RFC7230], Section 4.1.2).

   The last frame in the sequence bears an END_STREAM flag, noting that
   a HEADERS frame bearing the END_STREAM flag can be followed by
   CONTINUATION frames that carry any remaining portions of the header
   block.
```

This text seems extremely clear to me. Firstly, it makes it clear that HEADERS without END_STREAM is entirely semantic. They may appear both as informational response fields and as the message headers from RFC 7230 § 3.2. The message headers may _optionally_ have END_STREAM, but are not obligated to as further frames may follow.

The same section also contains two more paragraphs:

```
   Trailing header fields are carried in a header block that also
   terminates the stream.  Such a header block is a sequence starting
   with a HEADERS frame, followed by zero or more CONTINUATION frames,
   where the HEADERS frame bears an END_STREAM flag.  Header blocks
   after the first that do not terminate the stream are not part of an
   HTTP request or response.
```

This strongly implies that multiple trailers are to be ignored (“are not part of an HTTP request or response”).

Also:

```

   A HEADERS frame (and associated CONTINUATION frames) can only appear
   at the start or end of a stream.  An endpoint that receives a HEADERS
   frame without the END_STREAM flag set after receiving a final (non-
   informational) status code MUST treat the corresponding request or
   response as malformed (Section 8.1.2.6).
```

This seems to me to forbid midders in responses _altogether_ with a normative MUST.

I don’t see a compelling reason to revisit this section, and this section seems to me to explicitly forbid the concept.

Maybe we at least need to recheck whether it's possible to desynchronize the hpack state with such forbidden frames depending on implementations, and if so, make sure we always enter a connection error state and not just a stream error one.

In general I agree, though I think the rules here are straightforward: if a HEADERS frame does not trigger a CONNECTION_ERROR in your implementation, you MUST process the HPACK block within it.

I think that it would be safer not to permit use of HEADERS for anything but 1xx, final, and trailers.  At least by default.  An extension can enable them, but they would have to do so by negotiation.  If someone can show that there is wide-scale tolerance of additional HEADERS frames, then it might be worth documenting the possibility that others might be accepted, but no more than that.

I agree with you Cory, and actually I think we'll need to make sure that a clear statement like you mentioned is present somewhere in the spec so that implementers understand how to proceed when facing such difficulties.

Martin, I'm fine with your suggestion. I might also add a warning for implementers regarding this identified case that they need to be very careful about (i.e. not blindly replace their current request headers).

> I think that it would be safer not to permit use of HEADERS for anything but 1xx, final, and trailers.

I might be misunderstanding here but I think this is the status quo, isn't it? Is § 8.1 not normative?

It sounds like this is (roughly) editorial, then - does that make sense? E.g., just make it crystal clear.

A proposal is here: https://github.com/martinthomson/http2v2/compare/main...martinthomson:midders?expand=1

In reviewing this, relying more on actual text than memory, I was reminded how much more right @Lukasa is than I.  I didn't see anywhere to insert [mention of handling HPACK](https://github.com/httpwg/http2-spec/issues/780#issuecomment-719388734), but I think that [this text](https://martinthomson.github.io/http2v2/draft-thomson-httpbis-http2bis.html#section-4.3-9) is pretty clear about that.

LGTM.

LGTM as well. Thanks Martin!

Looks good (delta terminology issues)