Permit/Forbid Coalescing

Several of the comments in #363 note that a lot of the issues we have with renegotiation are as a result of a coalescing feature.

This is the not-fully-formally-accepted feature where a client can use an existing connection to a server for different origins.

To recap, coalescing occurs when a client discovers that they have an existing connection to the same IP and port that a URL resolves to.  AND the existing connection has a valid certificate for the name that is being sought.

Rob notes the prohibition in [Section 3 of RFC 6066](http://tools.ietf.org/html/rfc6066#page-8) where it states:

```
If the server_name is established in the TLS session handshake, the client SHOULD NOT attempt to request a different server name at the application layer.
```
