Centralize the definition of frame flags

The state machine diagram currently mentions EH/ES but each frame has its own definition which happens to always have the same value. Let's instead enumerate known flags with their values at one place, and mention for each frame which ones it supports or are forbidden. This will significantly simplify implementations and will cut the text. It might even lead to generalizing flag processing instead of repeating the text for each frame type.

Suggested by @wtarreau; this is probably just editorial.

Hmm, I looked at this a bit and I'm not sure this is editorial. [RFC 7540 § 4.1 "Frame Format"](https://tools.ietf.org/html/rfc7540#section-4) says:

> Flags:  An 8-bit field reserved for boolean flags specific to the frame type.
>
> Flags are assigned semantics specific to the indicated frame type. Flags that have no defined semantics for a particular frame type MUST be ignored and MUST be left unset (0x0) when sending.

This seems to say three things, two of which make this editorial and one of which maybe doesn't. The latter paragraph makes two comments around flags having "semantics specific to the indicated frame type" and handling errors for flags that no semantics for a frame type.

The first paragraph, however, says "flags specific to the frame type". This is a bit different. It somewhat implies that the flag definitions themselves may be specific to each frame type. This reading is somewhat reinforced by [RFC 8336 (The ORIGIN HTTP/2 Frame) § 2.2 "Processing ORIGIN Frames"](https://tools.ietf.org/html/rfc8336#section-2.2) which says:

> This specification does not define any flags for the ORIGIN frame, but future updates to this specification (through IETF consensus) might use them to change its semantics.  The first four flags (0x1, 0x2, 0x4, and 0x8) are reserved for backwards-incompatible changes; therefore, when any of them are set, the ORIGIN frame containing them MUST be ignored by clients conforming to this specification, unless the flag's semantics are understood.  The remaining flags are reserved for backwards-compatible changes and do not affect processing by clients conformant to this specification. 

This is somewhat unclear but does appear to read as though ORIGIN reserves the right to use flag 0x1 for a purpose _other_ than END_STREAM (a flag that would never be meaningful on ORIGIN).

Do we want to reconsider whether this is editorial?

There's nothing special about `0x1` PING defines this for ACK

Here's what I came up with from the core spec:

```
01 - END_STREAM (DATA, HEADERS); ACK (SETTINGS, PING)
02
04 - END_HEADERS (HEADERS, PUSH_PROMISE, CONTINUATION)
08 - PADDED (DATA, HEADERS, PUSH_PROMISE)
10
20 - PRIORITY (HEADERS)
40
80
```

It might be worth tabulating these, but I don't see any way to avoid the definitions being attached to the frame type.  Maybe the simple tabulation is all that @wtarreau was looking for.

Should we be providing guidance that says that implementations SHOULD attempt to re-use frame definitions and bit assignment if possible, and SHOULD try to avoid using bits that are defined for other flags in the core specification? I have mixed feelings about it but seems like an idea.

It's an idea, but I don't think that it's worth saying explicitly.  Any one taking due care will probably do that, but we don't need to say that.

The editors discussed this and it doesn't work out so well.  Happy to consider a pull request if someone feels strongly.