Rendering of links in IANA

The code for the IANA policies in Section 11.1 looks like this:

        <t>
          This document establishes a registry for HTTP/2 frame type codes.  The "HTTP/2 Frame Type"
          registry manages an 8-bit space.  The "HTTP/2 Frame Type" registry operates under either
          of the <xref target="RFC8126" section="4.8">"IETF Review"</xref> or <xref target="RFC8126" section="4.10">"IESG Approval"</xref> policies.
        </t>

That would be fine if that rendered as I would expect, as:

> This document establishes a registry for HTTP/2 frame type codes.  The "HTTP/2 Frame Type" registry manages an 8-bit space.  The "HTTP/2 Frame Type" registry operates under either of the "IETF Review" (Section 4.8 of [RFC8126]) or "IESG Approval" (Section 4.10 of [RFC8126]) policies.

Instead, it renders this way:

> This document establishes a registry for HTTP/2 frame type codes. The "HTTP/2 Frame Type" registry manages an 8-bit space. The "HTTP/2 Frame Type" registry operates under either of the Section 4.8 of "IETF Review" [RFC8126] or Section 4.10 of "IESG Approval" [RFC8126] policies.

That word ordering doesn't make sense.  I'm not sure exactly what XML magic would be needed to produce the expected sentence order.   Same thing occurs in Sections 11.2-4.

> Same thing occurs in Sections 11.2-4.

#953 appears to fix only Section 11.1.