Cross protocol attacks

We need to re-consider the section on cross protocol attacks.  The statement that is made is no longer true.  The final answer will depend on the outcome of #1.

[RFC 6455, section 10.3](http://tools.ietf.org/html/rfc6455#section-10.3) cites the following paper:

   [TALKING]  Huang, L-S., Chen, E., Barth, A., Rescorla, E., and C.
              Jackson, "Talking to Yourself for Fun and Profit", 2010,
              http://w2spconf.com/2011/papers/websocket.pdf.

This attack ultimately lead to thewebsocketsprotocol adopting a masking scheme.  This needs to be considered.
