The Status of HTTP2-Settings at
     https (comment 29)

The Status of HTTP2-Settings at
     https://www.iana.org/assignments/http-fields/http-fields.xhtml is
     listed as "obsoleted".  However, it was listed as "Standard" in
     [Section 11.1](https://www.rfc-editor.org/authors/rfc9113.html#section-11.1) of this document.  We have update this to match the
     registry per this note from IANA:

"NOTE: the authors will update the status field in the document to
match the status entry below."

IANA:
Field Name: HTTP2-Settings
Status: obsoleted
Reference: RFC 7540, [Section 3.2.1](https://www.rfc-editor.org/authors/rfc9113.html#section-3.2.1)
Comments: Obsolete; see [Section 11.1](https://www.rfc-editor.org/authors/rfc9113.html#section-11.1) of [this document].


This doc originally had:
   Field Name:  HTTP2-Settings
   Status:  Standard
   Reference:  [Section 3.2.1](https://rfc-editor.org/rfc/rfc7540.html#section-3.2.1) of [RFC7540](https://rfc-editor.org/rfc/rfc7540.html)
   Comments:  Obsolete; see [Section 11.1](https://www.rfc-editor.org/authors/rfc9113.html#section-11.1) of this document.



Fixed by #1021 already.