Clarify :path format

Is a HTTP2 `:path` allowed to contain a target of 'absolute-form'?
What should the `:path` (and `:authority`) contain if making a request through a HTTP2 proxy?

From HTTP1.1 spec:
> When making a request to a proxy, other than a CONNECT or server-wide
>  OPTIONS request (as detailed below), a client MUST send the target
>  URI in absolute-form as the request-target.

From HTTP2 spec:
> The :authority pseudo-header field includes the authority portion of the target URI ([RFC3986], Section 3.2). The authority MUST NOT include the deprecated userinfo subcomponent for http or https schemed URIs.
>
> To ensure that the HTTP/1.1 request line can be reproduced accurately, this pseudo-header field MUST be omitted when translating from an HTTP/1.1 request that has a request target in origin or asterisk form (see [RFC7230], Section 5.3). Clients that generate HTTP/2 requests directly SHOULD use the :authority pseudo-header field instead of the Host header field. An intermediary that converts an HTTP/2 request to HTTP/1.1 MUST create a Host header field if one is not present in a request by copying the value of the :authority pseudo-header field.
>
> The :path pseudo-header field includes the path and query parts of the target URI (the path-absolute production and optionally a '?' character followed by the query production (see Sections 3.3 and 3.4 of [RFC3986]). A request in asterisk form includes the value '*' for the :path pseudo-header field.


Related:
  - https://github.com/daurnimator/lua-http/pull/141
  - https://github.com/curl/curl/issues/3570
  - https://github.com/nghttp2/nghttp2/issues/1304

Cleaning up old issues.