The reports of HTTP/1.1's negative performance are possibly exaggerated

...  and HTTP/2's positives too!

>    The Hypertext Transfer Protocol (HTTP) is a wildly successful
   protocol.  However, the way HTTP/1.1 uses the underlying transport
   ([RFC7230], Section 6) has several characteristics that have a
   negative overall effect on application performance today.

 >  In particular, HTTP/1.0 allowed only one request to be outstanding at
   a time on a given TCP connection.  HTTP/1.1 added request pipelining,
   but this only partially addressed request concurrency and still
   suffers from head-of-line blocking.  Therefore, HTTP/1.0 and HTTP/1.1
   clients that need to make many requests use multiple connections to a
   server in order to achieve concurrency and thereby reduce latency.

I think time has shown these claims to not be great. How about cutting cruft and saying

```
The performance of application using the Hypertext Transfer Protocol (HTTP) is
linked to how each version of HTTP uses the underlying transport, and the
conditions under which the transport operates.

In particular, HTTP message concurrency can reduce latency and improve
application performance. HTTP/1.0 allowed only one request to be outstanding at
a time on a given TCP connection. HTTP/1.1 added request pipelining, but this
only partially addressed request concurrency and still suffers from
application-layer head-of-line blocking. Therefore, HTTP/1.0 and HTTP/1.1
clients that need to make many requests use multiple connections to a server in
order to achieve concurrency.
```

and then a tweak to a later paragraph in the intro to state that no one is perfect

```
The resulting protocol is more friendly to the network because fewer TCP
connections can be used in comparison to HTTP/1.x. This means less competition
with other flows and longer-lived connections, which in turn lead to better
utilization of available network capacity. Note, however, that TCP head-of-line
blocking cannot be addressed by this protocol.
```


If you're receptive to change, I am willing to try and edit horrible XML